.example-card,
button {
  margin-left: 8em;
  margin-right: 8em;
  margin-bottom: 1em;
}

.example-header-image {
  background-image: url("https://via.placeholder.com/150x150");
  background-size: cover;
}
